<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SudokuGame.App</title>

    <!-- SudokuGame.App references -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
</head>
<body>
    <div class="row" ng-app="SudokuGame">
        <div class="col-md-4" ng-controller="SudokuController">
            <h2>Tablero</h2>
            <table class="sudoku">
                <tr ng-repeat="rows in sudokuGrid" class="b_{{$index % 3 == 0}}">
                    <td ng-repeat="item in rows" class="b_{{$index % 3 == 0}}" ng-class="item.status">
                        <span ng-if="item.fixed">{{item.value}}</span>
                        <input ng-if="!item.fixed" type="number" min="1" max="9" ng-model="item.value" />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Cordova reference, this is added to your app when it's built. -->
    <script src="cordova.js"></script>
    <script src="scripts/platformOverrides.js"></script>

    <script src="scripts/angular.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/App/App.js"></script>
</body>
</html>